# Introduction to Pandas

Pandas is a powerful open-source library that makes working with structured data fast, flexible, and expressive.
It builds on top of NumPy and provides high-level data structures and operations designed to make data analysis in Python easier.

## Why use pandas?

- Handle tabular data with labeled axes (rows and columns).
- Clean, transform, and summarize datasets with minimal code.
- Integrates well with other libraries in the Python data ecosystem, such as NumPy and Matplotlib.

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /Users/ben/workspace/github.com/Lord-of-Waffles/MLIntro/.venv/lib/python3.11/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.23.2 in /Users/ben/workspace/github.com/Lord-of-Waffles/MLIntro/.venv/lib/python3.11/site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/ben/workspace/github.com/Lord-of-Waffles/MLIntro/.venv/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/ben/workspace/github.com/Lord-of-Waffles/MLIntro/.venv/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/ben/workspace/github.com/Lord-of-Waffles/MLIntro/.venv/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/ben/workspace/github.com/Lord-of-Waffles/MLIntro/.venv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 23.1.2 -> 25.3
[notice] To update, run: pip install --upgrade pip

In [2]:
!pip install matplotlib

Requirement already satisfied: matplotlib in /Users/ben/workspace/github.com/Lord-of-Waffles/MLIntro/.venv/lib/python3.11/site-packages (3.10.7)
Requirement already satisfied: contourpy>=1.0.1 in /Users/ben/workspace/github.com/Lord-of-Waffles/MLIntro/.venv/lib/python3.11/site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /Users/ben/workspace/github.com/Lord-of-Waffles/MLIntro/.venv/lib/python3.11/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/ben/workspace/github.com/Lord-of-Waffles/MLIntro/.venv/lib/python3.11/site-packages (from matplotlib) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/ben/workspace/github.com/Lord-of-Waffles/MLIntro/.venv/lib/python3.11/site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: numpy>=1.23 in /Users/ben/workspace/github.com/Lord-of-Waffles/MLIntro/.venv/lib/python3.11/site-packages (from matplotlib) (2.3.4)
Requirement already satisfied: packaging>=20.0 in /Users/ben/workspace/github.com/Lord-of-Waffles/MLIntro/.venv/lib/python3.11/site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in /Users/ben/workspace/github.com/Lord-of-Waffles/MLIntro/.venv/lib/python3.11/site-packages (from matplotlib) (12.0.0)
Requirement already satisfied: pyparsing>=3 in /Users/ben/workspace/github.com/Lord-of-Waffles/MLIntro/.venv/lib/python3.11/site-packages (from matplotlib) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in /Users/ben/workspace/github.com/Lord-of-Waffles/MLIntro/.venv/lib/python3.11/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /Users/ben/workspace/github.com/Lord-of-Waffles/MLIntro/.venv/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

[notice] A new release of pip is available: 23.1.2 -> 25.3
[notice] To update, run: pip install --upgrade pip

# Getting Started

### Exercise 1: 
Import the pandas library using the alias `pd`.

In [3]:
# (Write your code below)
import pandas as pd

## The pandas Series

A Series is a one-dimensional labeled array capable of holding any data type.
It combines the best features of NumPy arrays (fast operations) with Python dictionaries (flexible indexing).

Common ways to create a Series include:
- From a Python list or tuple
- From a dictionary
- Using NumPy arrays

### Exercise 2: 
Create a pandas Series named `fruits` with the values ['apples', 'bananas', 'cherries', 'dates'] and custom indices ['A', 'B', 'C', 'D'].

In [4]:
# (Write your code below)
fruits = pd.Series({'A':'apples','B':'bananas','C':'cherries','D':'dates'})

### Exercise 3: 
Using the `fruits` Series, select the value associated with index 'C' and store it in a variable named `selected_fruit`.

In [5]:
# (Write your code below)
selected_fruit = fruits['C']

## Creating DataFrames

A DataFrame is a two-dimensional, tabular data structure with labeled axes.
It can be thought of as a collection of Series objects that share the same index.

We'll work with the following sales dataset for the next exercises:

In [6]:
sales_data = {
    'Store': ['North', 'North', 'South', 'South', 'East', 'East', 'West', 'Central'],
    'Month': ['2024-01', '2024-02', '2024-05', '2024-08', '2024-12', '2024-09', '2024-03', '2024-04'],
    'Region': ['Europe', 'Europe', 'Europe', 'Europe', 'Asia', 'Asia', 'America', 'America'],
    'Revenue': [52000, 58000, 47000, 49000, 61000, 63000, 45000, 70000],
    'Transactions': [340, 360, 280, 300, 400, 420, 300, 420],
    'Online_Sales': [0.45, 0.50, 0.30, 0.35, 0.55, 0.58, 0.25, 0.60]
}
sales_data

{'Store': ['North',
  'North',
  'South',
  'South',
  'East',
  'East',
  'West',
  'Central'],
 'Month': ['2024-01',
  '2024-02',
  '2024-05',
  '2024-08',
  '2024-12',
  '2024-09',
  '2024-03',
  '2024-04'],
 'Region': ['Europe',
  'Europe',
  'Europe',
  'Europe',
  'Asia',
  'Asia',
  'America',
  'America'],
 'Revenue': [52000, 58000, 47000, 49000, 61000, 63000, 45000, 70000],
 'Transactions': [340, 360, 280, 300, 400, 420, 300, 420],
 'Online_Sales': [0.45, 0.5, 0.3, 0.35, 0.55, 0.58, 0.25, 0.6]}

### Exercise 4: 
Create a DataFrame named `sales_df` from the `sales_data` dictionary.

Display the DataFrame to confirm it looks correct.

In [7]:
# (Write your code below)
sales_df = pd.DataFrame(sales_data)
print(sales_df)

     Store    Month   Region  Revenue  Transactions  Online_Sales
0    North  2024-01   Europe    52000           340          0.45
1    North  2024-02   Europe    58000           360          0.50
2    South  2024-05   Europe    47000           280          0.30
3    South  2024-08   Europe    49000           300          0.35
4     East  2024-12     Asia    61000           400          0.55
5     East  2024-09     Asia    63000           420          0.58
6     West  2024-03  America    45000           300          0.25
7  Central  2024-04  America    70000           420          0.60

## Exercise 5:
Create another DataFrame named `inventory_snapshot` using the following list of dictionaries: 

[{"Product": "Laptop", "Quantity": 120}, {"Product": "Monitor", "Quantity": 40}, {"Product": "Keyboard", "Quantity": 200}]

In [8]:
# (Write your code below)
inventory_snapshot = pd.DataFrame([{"Product": "Laptop", "Quantity": 120}, {"Product": "Monitor", "Quantity": 40}, {"Product": "Keyboard", "Quantity": 200}])
print(inventory_snapshot)

    Product  Quantity
0    Laptop       120
1   Monitor        40
2  Keyboard       200

## Inspecting Data

Pandas provides several methods to quickly inspect the structure and contents of a DataFrame, such as `head`, `tail`, `info`, and `describe`.

### Exercise 6: 
Use the `.head()` method to display the first 3 rows of `sales_df` and store the result in a variable named `first_rows`.

In [9]:
# (Write your code below)
first_rows = sales_df.head()

### Exercise 7: 
Call the `.info()` method on `sales_df` to inspect column types and non-null counts.

In [10]:
# (Write your code below)
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         8 non-null      object
 1   Month         8 non-null      object
 2   Region        8 non-null      object
 3   Revenue       8 non-null      int64
 4   Transactions  8 non-null      int64
 5   Online_Sales  8 non-null      float64
dtypes: float64(1), int64(2), object(3)
memory usage: 516.0+ bytes

### Exercise 8: 
Use the `.describe()` method to compute summary statistics for the numeric columns in `sales_df`.

Store the result in a variable named `stats_summary`.

In [11]:
# (Write your code below)
stats_summary = sales_df.describe()

## Selecting Data

Use `.loc` for label-based selection and `.iloc` for position-based selection.

### Exercise 9: 
Using `.loc`, select all rows from `sales_df` where the `Store` is 'East'.

Store the result in a variable named `east_rows`.

In [12]:
# (Write your code below)
east_rows = sales_df.loc[sales_df['Store'] == 'East']
print(east_rows)

  Store    Month Region  Revenue  Transactions  Online_Sales
4  East  2024-12   Asia    61000           400          0.55
5  East  2024-09   Asia    63000           420          0.58

In [13]:
# (Write your code below)
first_subset = sales_df.iloc[(2,3)]
print(first_subset)

47000

## Filtering and Conditional Selection

Boolean indexing lets you filter rows based on conditions.

### Exercise 11: 
Filter `sales_df` to keep only the rows where `Revenue` is greater than 55_000.

Store the filtered DataFrame in a variable named `high_revenue`.

In [14]:
# (Write your code below)
high_revenue = sales_df[sales_df['Revenue'] > 55000]

## Adding and Modifying Columns

You can create new columns or modify existing ones using vectorized operations.

### Exercise 12: 
Create a new column named `Average_Order_Value` in `sales_df` by dividing the `Revenue` column by the `Transactions` column.

In [16]:
# (Write your code below)
Average_Order_value = sales_df['Revenue'] / sales_df['Transactions']
print(Average_Order_value)

0    152.941176
1    161.111111
2    167.857143
3    163.333333
4    152.500000
5    150.000000
6    150.000000
7    166.666667
dtype: float64

### Exercise 13: 
Create a new column named `Online_Percentage` in `sales_df` by converting the `Online_Sales` ratio into a percentage (0-100 scale).

In [17]:
# (Write your code below)
sales_df['Online_Percentage'] = sales_df['Online_Sales'] * 100

## Handling Missing Data

Missing values are common in real datasets. Pandas provides tools such as `isna`, `fillna`, and `dropna` to handle them.

In [ ]:
inventory_data = {
    'Product': ['Laptop', 'Tablet', 'Phone', 'Monitor', 'Keyboard'],
    'Quantity': [120, 85, None, 40, None],
    'Warehouse': ['A', 'A', 'B', 'B', 'C'],
    'Restock_Date': ['2024-04-10', None, '2024-04-15', '2024-04-22', None]
}
inventory_data

### Exercise 14: Create a DataFrame named `inventory_df` from the `inventory_data` dictionary.

In [ ]:
# (Write your code below)
inventory_df =

### Exercise 15: 
Use pandas functions to count the number of missing values in each column of `inventory_df`.

Store the result in a variable named `missing_counts`.

In [ ]:
# (Write your code below)
missing_counts =

### Exercise 16: 
Fill the missing values in the `Quantity` column of `inventory_df` with the column mean.

Store the updated DataFrame in a variable named `inventory_filled`.

In [ ]:
# (Write your code below)
inventory_filled =

## Grouping and Aggregating Data

Grouping allows you to split data into buckets and apply aggregate functions.

### Exercise 17: 
Group `sales_df` by `Region` and compute the average `Revenue` and `Transactions` for each region.

Store the result in a variable named `region_summary`.

In [ ]:
# (Write your code below)
region_summary =

## Sorting Data

Sorting helps highlight trends and outliers in your data.

### Exercise 18:
Sort `sales_df` by the `Revenue` column in descending order and store the result in a variable named `revenue_sorted`.

In [ ]:
# (Write your code below)
revenue_sorted =

## Combining DataFrames

Use merging and joining operations to combine information from multiple DataFrames.

In [ ]:
targets_data = {
    'Store': ['North', 'South', 'East', 'West', 'Central'],
    'Revenue_Target': [110_000, 96_000, 124_000, 93_000, 140_000]
}
targets_data

### Exercise 19: 
Create a DataFrame named `targets_df` from the `targets_data` dictionary.

In [ ]:
# (Write your code below)
targets_df =

### Exercise 20: 
Merge `sales_df` with `targets_df` on the `Store` column

Store the result in a new DataFrame named `sales_with_targets`.

In [ ]:
# (Write your code below)
sales_with_targets =

## Working with Dates

Pandas has strong support for time series data through `to_datetime`, resampling, and period-based grouping.

### Exercise 21: 
Convert the `Month` column in `sales_df` to datetime objects using `pd.to_datetime`.

In [ ]:
# (Write your code below)

### Exercise 22: 
Using the updated `sales_df`, compute the total `Revenue` per quarter.

Store the result in a variable named `quarterly_revenue`.

Hint: convert the `Month` column to quarterly periods with `.dt.to_period('Q')`.

In [ ]:
# (Write your code below)
quarterly_revenue =

## Visualization with pandas

Once data is aggregated, you can quickly visualize it using the built-in plotting API (which relies on Matplotlib).

### Exercise 23: 
Plot a bar chart of total `Revenue` by `Store` using pandas' `.plot.bar()` method.

Hint: If needed, import `matplotlib.pyplot as plt` before plotting.

In [ ]:
# (Write your code below)

# Advanced Exercise (Bonus)

Combine several of the techniques you have learned:
- Create a pivot table that shows the average `Revenue` by `Region` and `Store`.
- Calculate the share of online sales per region.
- Visualize the quarterly revenue trend using a line plot.